<div class="center">
  <p>This is the home page! Ready to kill some bugs? </p>
  <%= link_to "Projects", projects_path, class: "btn btn-primary" %>
  <%= link_to "Bugs", bugs_path, class: "btn btn-primary" %>
</div>