@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  padding-top: 20px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.center {
  text-align: center;
}